h1 {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 180px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left;
}


h2 { color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  text-align: left;
  margin-top: 15px;
}

h3 { color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  text-align: left;
  margin-top: 15px;
}

body {
  font-family: Roboto, sans-serif;
}
