h1 {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 180px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left;
}


h2 { color: #111;
  font-family: 'Open Sans',
  sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  text-align: left;
}


p { color: #685206;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: left;
}
